
@model IEnumerable<WebsterWebApp.Data.ApplicationUser>
@using static WebsterWebApp.Models.ExamUser;
@{
    ViewData["Title"] = "Add user";
    
}

<h1>Add user</h1>



<form asp-action="AddUser" asp-controller="Exam" >
    <label>Exam Id</label>
    <input type="text" name="examid" hidden="hidden" readonly="readonly" value ="@ViewBag.exam">

    @{
        int a=1;
    }
    @foreach (var item in Model)
   {    
       <div>
           <label>Name:</label>
           <a>@item.FirstName @item.LastName</a>
           <br>
           <label>Email:</label>
           <a>@item.Email</a>
           <br>
           <label>Check to add exam :
               <input  type="checkbox" readonly="readonly" name='id' value="@item.Id">
           </label>
           <br> 
       </div>
       <hr />
   
   } 
    <input type="submit" class="btn-primary" value="submit"/>
</form>
<a asp-action="UserList" asp-route-id="@ViewBag.exam">Back to UserList</a>