
@model IEnumerable<WebsterWebApp.Data.ApplicationUser>
@using static WebsterWebApp.Models.ExamUser;
@{
    ViewData["Title"] = "Add user";
    
}

<h1>Add user</h1>

<a>@ViewBag.exam</a>

<form asp-action="AddUser" asp-controller="Exam" >
    <label>Exam Id</label>
    <input type="text" name="examid" readonly="readonly" value ="@ViewBag.exam"></input>

    @{
        int a=1;
    }
    @foreach (var item in Model)
   {    
       <div>
           <label>Name:</label>
           <a>@item.FirstName @item.LastName</a>
           <label>Email:</label>
           <a>@item.Email</a>
           <input type="checkbox" readonly="readonly" name='id' value="@item.Id"></input>

           <br> 
       </div>
   
   } 
    <input type="submit" class="btn-primary" value="submit"/>
</form>
<a asp-action="UserList" asp-route-id="@ViewBag.exam">Back to UserList</a>