@model IEnumerable<WebsterWebApp.Areas.Admin.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<br />

<h4>Question List</h4>

<p>
    <a asp-action="Create"><b style="color:dodgerblue">Create New Question</b></a>
</p>

<a asp-action="BatchQuestionUpload"><b style="color:dodgerblue">Upload New Question</b></a>

<hr />

<div>
    @section Scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        @*<script src="~/js/loader.js"></script>*@
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawOnLoad);
            function drawOnLoad() {
                $(function () {
                    $.ajax({
                        type: 'GET',
                        url: '/Admin/Question/IndexCharts',
                        success: function (chartsdata) {
                            var Data = chartsdata.jsonList;
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', 'Subject');
                            data.addColumn('number', 'Question Quantity');

                            data.addRows([
                                ['General Knowledge', Data[0]],
                                ['Math', Data[1]],
                                ['Tech', Data[2]],
                            ]);                           

                            var piechart = new google.visualization.PieChart(document.getElementById('piediv'));
                            piechart.draw(data, {
                                title: "question per subject",
                                position: "top",
                                fontsize: "15px"
                            });

                            var barchart = new google.visualization.BarChart(document.getElementById('bardiv'));
                            barchart.draw(data, {
                                title: "question per subject",
                                width: "450",
                                height: "350"
                            });
                        }
                    });
                })
            }
        </script>
    }
    <table align="center">
        <tr>
            <td>
                <div id="piediv" style="width:500px; height: 350px; border:2px solid red" ;></div>
            </td>
            <td>
                <div id="bardiv" style="border:2px solid red" ;></div>
            </td>
        </tr>
    </table>
</div>

<br />

<form asp-action="Index" method="post">
    <select name="subject" onchange="check()">
        @if (ViewBag.optionSubject == null)
        {
            <option value="">All</option>
            @foreach (var item in TempData["optionSubject"] as List<String>)
            {
                <option value="@item">@item</option>
            }
        }
        else
        {
            <option value="">All</option>
            foreach (var item in TempData["optionSubject"] as List<String>)
            {
                if (item == ViewBag.optionSubject)
                {
                    <option value="@item" selected>@item</option>
                }
                else
                {
                    <option value="@item">@item</option>
                }
            }
        }
    </select>
    &nbsp;
    <input type="text" name="questionTitle" placeholder="Enter question title"/>
    <input type="submit" id="_Filter" value="Filter" class="btn-primary"/>
</form>

<br />

<table class="table" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                Question title
            </th>
            <th>
                Question type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    String questionType = item.QuestionType ? "One Answer" : "Many Answer";
    String title = @item.QuestionTitle.Substring(0, 22);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @title...
            </td>
            <td>
                @questionType
            </td>
            <td>
                @if (item.Photo == null)
                {
                    <p>Empty</p>
                }
                else
                {
                    <img src="~/@item.Photo" width="120" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> &nbsp;
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> &nbsp;
                <a asp-action="Delete" onclick="ConfirmDelete()" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function check() {
        document.getElementById("_Filter").click() = "true";
    }
</script>

<script>
    
    function ConfirmDelete() {
        if (confirm("Are you sure ?")) {
            return true;
        } else {
            event.preventDefault();
        }
    }
</script>

